讀取資料夾中 boston.csv 讀取其欄位 CHAS、NOX、RM，輸出成 .xlsx 檔案

In [3]:
import pandas as ps

!pip install openpyxl
!pip install XLRD

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.4)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: XLRD in c:\users\user\anaconda3\lib\site-packages (1.2.0)

In [6]:
boston=ps.read_csv('boston.csv',usecols=['CHAS','NOX','RM'])
boston

     CHAS    NOX     RM
0     0.0  0.538  6.575
1     0.0  0.469  6.421
2     0.0  0.469  7.185
3     0.0  0.458  6.998
4     0.0  0.458  7.147
..    ...    ...    ...
501   0.0  0.573  6.593
502   0.0  0.573  6.120
503   0.0  0.573  6.976
504   0.0  0.573  6.794
505   0.0  0.573  6.030

[506 rows x 3 columns]

In [7]:
boston.to_excel('boston.xlsx',sheet_name='boston')

In [8]:
boston.to_excel

<bound method NDFrame.to_excel of      CHAS    NOX     RM
0     0.0  0.538  6.575
1     0.0  0.469  6.421
2     0.0  0.469  7.185
3     0.0  0.458  6.998
4     0.0  0.458  7.147
..    ...    ...    ...
501   0.0  0.573  6.593
502   0.0  0.573  6.120
503   0.0  0.573  6.976
504   0.0  0.573  6.794
505   0.0  0.573  6.030

[506 rows x 3 columns]>